[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
    "npm run db:generate && npm run db:migrate",
    "npm run sqlite:db:generate && npm run sqlite:db:migrate",
    "npm run build"
]

[start]
cmd = "npm start"