.slide-in-text {
    opacity: 0;
    transform: translateX(-25px);
    transition: all 0.5s ease-in-out 0.5s;
    -webkit-transition: all 0.5s ease-in-out 0.5s;
    -moz-transition: all 0.5s ease-in-out 0.5s;
    -ms-transition: all 0.5s ease-in-out 0.5s;
    -o-transition: all 0.5s ease-in-out 0.5s;
}

/* When the parent slide becomes active, animate the text inside */
.swiper-slide-active .slide-in-text {
    transform: translateX(0);
    opacity: 1;
}
