.card-variant {
}

.card-variant-legend {
    position: absolute;
    width: 100%;
    padding: 1;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    height: 0;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
}

.card-variant:hover .card-variant-legend {
    height: 100%;
    opacity: 1;
}
