@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Lato&family=Montserrat&family=Poppins&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cinzel+Decorative:wght@400;700;900&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --dynasty: 47 26% 86%;
        --body: 47 26% 86%;
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 145 73% 24%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --chart-1: 145 73% 24%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 237, 90%, 19%;
        --sidebar-foreground: 0, 0%, 94%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 145 73% 18%; /*240 4.8% 95.9%*/
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 145 73% 24%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 145 73% 24%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-body text-foreground;
    }

    .dataTable thead {
        @apply bg-primary;
    }
    .dataTable thead th {
        @apply text-secondary;
    }
    .dataTable thead tr {
        @apply hover:bg-primary;
    }
    .dataTable tbody tr {
        @apply hover:bg-primary hover:text-secondary  data-[state=selected]:bg-primary drop-shadow py-3;
    }
    .bg-sidebar {
        @apply bg-gradient-to-br  from-black from-[5%]   to-primary to-100% !border-r-0;
    }

    .absolute-center-y {
        @apply top-1/2 !translate-y-[-50%];
    }
    .absolute-center-x {
        @apply left-1/2 !translate-x-[-50%];
    }
    .text-shadow {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }

    .green-gradient {
        @apply bg-gradient-to-br from-black via-green-900 to-primary;
    }
}

.slide-in-text-x {
    opacity: 0;
    transform: translateX(-25px);
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
}
.slide-in-text-y {
    opacity: 0;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

.swiper-slide-active .slide-in-text-y {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.35s ease-in-out 0.25s;
    -webkit-transition: all 0.35s ease-in-out 0.25s;
    -moz-transition: all 0.35s ease-in-out 0.25s;
    -ms-transition: all 0.35s ease-in-out 0.25s;
    -o-transition: all 0.35s ease-in-out 0.25s;
}

.swiper-slide-thumb-active {
    opacity: 1 !important;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.5s ease-in-out 0.5s;
    -webkit-transition: all 0.5s ease-in-out 0.5s;
    -moz-transition: all 0.5s ease-in-out 0.5s;
    -ms-transition: all 0.5s ease-in-out 0.5s;
    -o-transition: all 0.5s ease-in-out 0.5s;
}

/* Tiptap Editor Styles */
.ProseMirror {
    outline: none;
}

.ProseMirror,
.ProseMirror p,
.ProseMirror-trailingBreak {
    margin: 0.75rem 0;
    border-color: transparent !important;
}

/* .ProseMirror h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
} */

.ProseMirror ul,
.ProseMirror ol {
    padding-left: 1.5rem;
    margin: 0.75rem 0;
}
.ProseMirror ul {
    list-style: disc;
}
.ProseMirror ol {
    list-style: decimal;
}

.ProseMirror li {
    margin: 0.25rem 0;
}

.ProseMirror strong {
    font-weight: 600;
}

.ProseMirror em {
    font-style: italic;
}
