name: Deploy

on:
  push:
    branches:
      - main
      - dev
permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Export package.json version
        shell: bash
        run: |
          node -e "console.log('VERSION=' + require('./package.json').version)" >> "$GITHUB_ENV"

      - name: Generate Gitflow tag
        id: tag
        run: |
          BRANCH_NAME=${GITHUB_REF_NAME}

          # Nettoie le nom de la branche pour éviter les caractères invalides
          SAFE_BRANCH=$(echo "$BRANCH_NAME" | tr '/' '-')

          # Exemple de tag basé sur la branche GitFlow
          TAG="v${VERSION}"

          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "✅ Generated tag: $TAG"

      - name: Create and push Git tag
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git tag -a "${{ env.TAG }}" -m "Auto tag from GitFlow branch $GITHUB_REF_NAME"
          git push origin "${{ env.TAG }}"

      - name: Send Notification
        if: success()
        run: |
          curl -s -o /dev/null -w "%{http_code}" -H "Content-type: application/json" \
          -X GET \
          ${{secrets.PROJECT_API}}/api/notification/deploy/start?version=${{env.VERSION}}
